

/* reusable div classes*/
.page{
    height: 99vh;
}
.justify{
    display:flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

/* Background and Black Overlay */
#background{
    width:auto;
    height:auto;
    min-height: 100%;
    min-width:100%;
    position:fixed;
    top:-30px;
    left:-30px;
    z-index: -1;
    -webkit-filter:brightness(80%)blur(0.2vw);
    filter:brightness(40%)blur(0.2vw);
}
#siteContents{
    margin-left: 10vw;
    width:80vw;
    min-height:99vh;
    position:absolute;
    background-color:rgba(0,0,0,0.65); /* 0.5 => opacity */
}

/* Menu styles */
@keyframes buttonLight{
    from {color:grey;}
    to {color: red;}
}
@keyframes buttonUnLight{
    to {color:grey;}
    from {color: red;}
}
#logo{
    width:18%;
    height:auto;
    display:inline-block;
    position:relative;
    top:1vw;
}
#menu>#left-buttons{
    display:inline-block;
    text-align: center;
    margin-top: 4vw;
    margin-left:5%;
    width:35%;
}
#menu>#right-buttons{
    display: inline-block;
    text-align: center;
    margin-top: 4vw;
    margin-left:5%;
    width:35%;
    position: absolute;
    left:54.5%;
}
#left-buttons>div>a,#right-buttons>div>a{
    text-align: center;
    font-size: calc(8px + 0.6vw);
    text-decoration:none;
    color:grey;
    font-family: "Segoe UI",Arial,sans-serif;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 1vw;
    
    padding-bottom: 0.25vw;
    padding-left:0.25vw;
    padding-right: 0.25vw;
}
#left-buttons>div>a:hover,#right-buttons>div>a:hover{
    animation-name: buttonLight;
    animation-duration: 0.2s;
    color: red;
}
#left-buttons>div>a:not(:hover),#right-buttons>div>a:not(:hover){
    animation-name: buttonUnLight;
    animation-duration: 1s;
}

/* page 1 content */
#page1{
    height: 150vh;
}

@keyframes textOut{
    from {transform:none;}
    to {transform: rotateX(90deg);}
}
@keyframes textIn{
    to {transform: rotateX(0deg);}
    from {transform: rotateX(90deg);}
}

.motto{
    left:0;
    right:0;
    margin:0 auto;
    
    text-align: center;
    color:white;
    font-size: 5vw;
    text-decoration:none;
    font-family: "Segoe UI",Arial,sans-serif;
}

.motto.hidden{
    transform: rotateX(90deg)
}

.motto.leaving{
    animation-name: textOut;
    animation-duration: 0.3s;
    transform: rotateX(90deg)
}

.motto.entering{
    animation-name: textIn;
    animation-duration: 0.3s;
    transform:none;
}

#scrolling-text{
    margin-top:30vh;
    width:100%;
}

@keyframes signupFocus{
    from {border-color:white;}
    to {border-color: blue;}
    from {box-shadow: none;}
    to {box-shadow: 0px 0px 2.3vw blue;}
}

@keyframes buttonclick{
    from {box-shadow: 0px 2px green;}
    to {box-shadow: none;}
    from{top:0px;}
    to{top:1px;}
}

#signup{
    text-align: center;
    margin-top:60vh;
}
#signup>input{
    overflow: visible;
    
    padding:calc(4px + 0.7vh);
    margin:0.4vw;
    
    border-radius: 6px;
    border-width: 2px;
    
    color:black;
    font-size: calc(10px + 0.5vw);
    text-decoration:none;
    font-family: "Segoe UI",Arial,sans-serif;
}
#signup>input:focus{
    animation-name: signupFocus;
    animation-duration: 0.5s;
    border-color: blue;
    box-shadow: 0px 0px 2.3vw blue;
    border-radius: 6px;
    outline-width: 0;
}

#send{
    position:relative;
    
    padding:calc(4px + 0.7vh);
    padding-left: calc(4px + 1.3vw);
    padding-right: calc(4px + 1.3vw);
    
    background-color:limegreen;
    border-radius:12px;
    border-width:0px;
    
    color:white;
    font-size: calc(10px + 0.5vw);
    text-decoration:none;
    font-family: "Segoe UI",Arial,sans-serif;
    
    box-shadow: 0px 2px green;
    outline-width: 0;
}

#send:active{
    animation-name: buttonclick;
    animation-duration: 0.2s;
    top:1px;
    box-shadow: none;
    outline-width: 0;
}


/* page 2 content */
#survey-header{
    text-align: center;
    font-size: calc(20px + 0.7vw);
    text-decoration:none;
    color:white;
    font-family: "Segoe UI",Arial,sans-serif;
}
#survey{
    width:99.5%;
    height:87%;
    filter:opacity(0.7);
}
/* footer content */
#footer{
    margin-top: 3vh;
    bottom:0px;
}
#contact-info{
    width:100%;
    text-align: center;
    padding-bottom: 1vh;
}
.fa{
    -webkit-filter: invert(100%); /* Safari */
    filter: invert(100%);
    height: 19px;
    padding-top: 5px;
    width: 20px;
    border-color:black;
    border-radius: 50%;
    margin:0.7vw;
    
}
@keyframes FA-buttonLight{
    from {color:black;}
    to {color: cyan;}
    from {border-color:black;}
    to {border-color: cyan;}
}
@keyframes FA-buttonUnLight{
    to {color:black;}
    from {color: cyan;}
    to {border-color:black;}
    from {border-color: cyan;}
    
}
.fa:hover{
    animation-name: FA-buttonLight;
    animation-duration: 0.2s;
    color: cyan;
    border-color: cyan;
    
}
.fa:not(:hover){
    animation-name: FA-buttonUnLight;
    animation-duration: 0.2s;
}

#CC-license{
    font-size:calc(8px + 0.5vw);
    text-decoration: none;
    color:grey;
    text-align: center;
}
#CC-license>a{
    text-decoration: none;
    color:grey;
}